* {
  font-family: "Poppins", serif;
}

body,
html {
  width: 100%;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  overflow-y: auto;
}

.header {
  padding: 0px 150px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  padding-bottom: 5px;
  font-size: 1.07em;
  font-family: "Courier New", Courier, monospace;
  background-color: #0b0a07;
  color: white;
}

.Nav h3 {
  padding: 0px 0px 0px 140px;
}

.links {
  margin-right: 100px;
  padding: 0 15px 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: white;
}
.links a:hover {
  text-decoration: none;
  color: #f0ec57;
}
.About {
  min-height: 500px;
  padding: 0px 150px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.About .introduction {
  flex: 1;
  font-size: 1.3rem;
}

.About .photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About .photo img {
  width: 300px;
  height: 300px;
  background-color: gray;
  border-radius: 50%;
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.About button {
  background-color: #0b0a07;
  outline: none;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 7px;
}
.About button:hover {
  background-color: #181716;
  cursor: pointer;
}
.Skills .frontend,
.backend,
.technologies {
  padding: 0px 150px;
  margin: 25px 0px;
}
.Skills .skills-div {
  display: flex;
  justify-content: space-evenly;
}

.Skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Skills .skill .level {
  color: #494949;
  font-size: 0.8rem;
}
.skill .icon img {
  width: 30px;
  height: 30px;
}

.Skills h4 {
  font-weight: 400;
}

.Projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px 70px;
  background-color: whitesmoke;
}

.Projects .project {
  width: 500px;
  height: 680px;
  margin: 15px;
  box-shadow: 1px 1px 10px #0000006b;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.Projects .project img {
  width: 100%;
  height: 280px;
  border-radius: 10px;
}
.Projects .project h3 {
  font-weight: 500;
  padding: 0px 15px;
  margin: 5px 0px;
}
.Projects .project p {
  width: 90%;
  padding: 0px 15px;
  margin: 0px;
  font-size: 0.9rem;
  color: rgb(66, 66, 66);
}
.Projects .project h4 {
  padding: 0px 15px;
  margin: 5px 0px;
  font-weight: 500;
}

.Projects .project .stack p {
  padding: 0px;
  color: rgb(66, 66, 66);
}
.Projects .project .key_features p {
  padding: 0px;
}
.Projects .project .buttons {
  position: absolute;
  bottom: 0;
  width: calc(100% - 15px);
  height: 60px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 0px;
  padding-left: 15px;
}

.Projects .project .buttons a {
  text-decoration: none;
}

.Projects .project .buttons button {
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0b0a07;
  color: white;
  border-radius: 5px;
}
.Projects .project .buttons button:hover {
  background-color: #1b1b1b;
}
.Footer {
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  background-color: whitesmoke;
}

.Contact {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 70px;
  width: 30%;

  max-width: 350px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;

  margin-top: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#message {
  height: 100px;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #0b0a07;
  color: white;
  padding: 12px 20px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #f0ec57;
  color: #0b0a07;
}

.GroupProjects {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 120px;
  background-color: whitesmoke;
}

.GroupProjects .project {
  width: 520px;
  height: 720px;
  margin: 15px;
  box-shadow: 1px 1px 10px #0000006b;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.GroupProjects .project img {
  width: 100%;
  height: 280px;
  border-radius: 10px;
}
.GroupProjects .project h3 {
  font-weight: 500;
  padding: 0px 15px;
  margin: 0px;
}
.GroupProjects .project p {
  width: 90%;
  padding: 0px 15px;
  margin: 2px;
  color: rgb(66, 66, 66);
  font-size: 0.9rem;
}

.GroupProjects .project .buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
}

.GroupProjects .project .buttons a {
  text-decoration: none;
}

.GroupProjects .project .buttons button {
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0b0a07;
  color: white;
  border-radius: 5px;
}
.GroupProjects .project .buttons button:hover {
  background-color: #1b1b1b;
}
.GroupProjects h4 {
  margin: 0;
  padding: 0px 15px;
}
.members {
  display: flex;
  gap: 15px;
  padding: 0px 15px;
  color: rgb(66, 66, 66);
}
.stack {
  display: flex;
  gap: 15px;

  padding: 0px 15px;
  color: rgb(66, 66, 66);
}

.key_features {
  display: flex;
  gap: 15px;

  padding: 0px 15px;
  color: rgb(66, 66, 66);
}

.Feedback {
  padding: 30px 150px;
  background-color: whitesmoke;
}
.Goals {
  padding: 30px 150px;
  background-color: whitesmoke;
}
.Cover {
  padding: 30px 150px;
  background-color: whitesmoke;
}
.TOC {
  padding: 30px 150px;
}

.Assessments {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 120px;
  background-color: whitesmoke;
}

.Assessments .project {
  width: 400px;
  height: 450px;
  margin: 15px;
  box-shadow: 1px 1px 3px #0b0a0738;
  border-radius: 10px;
  background-color: white;
}

.Assessments .project img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.Assessments .project h3 {
  font-weight: 500;
  padding: 0px 15px;
}
.Assessments .project p {
  width: 90%;
  padding: 0px 15px;
  word-wrap: break-word;
}

.Assessments .project .buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
}

.Assessments .project .buttons a {
  text-decoration: none;
}

.Assessments .project .buttons button {
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0b0a07;
  color: white;
  border-radius: 5px;
}
.Assessments .project .buttons button:hover {
  background-color: #1b1b1b;
}
.Assessments h4 {
  margin: 0;
  padding: 0px 15px;
}

@media (max-width: 1025px) {
  .About {
    flex-direction: column-reverse;
    padding: 50px 150px;
    text-align: center;
  }

  .Skills .skills-div {
    gap: 25px;
    flex-wrap: wrap;
  }
  .Projects .project {
    flex-direction: column;
    gap: 25px;
  }
  .Projects .project img {
    width: 100%;
  }
  .Projects .project video {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0px;
  }

  .Nav {
    flex-direction: column;
    padding: 0px;
  }
  .Nav h3 {
    text-align: center;
  }

  .links {
    margin-right: 0px;
    padding: 10px;
  }
  .About {
    padding: 50px;
  }
  .Cover {
    padding: 50px;
  }
  .Skills {
    padding: 50px 10px;
  }
  .Skills .frontend,
  .backend,
  .tools {
    padding: 0px;
    margin: 0px;
  }
  .Projects {
    padding: 0px 10px;
  }
  .GroupProjects {
    padding: 0px 0px;
  }
  .Assessments {
    padding: 0px 10px;
  }
  .About {
    padding: 50px 10px;
  }

  .Feedback {
    padding: 0px 10px;
  }
  .Goals {
    padding: 0px 10px;
  }
  .Cover {
    padding: 0px 10px;
  }
  .TOC {
    padding: 0px 10px;
  }
  .frontend,
  .backend,
  .technologies {
    padding: 0px 10px;
    margin: 25px 0px;
  }
  .Skills {
  }
  .About .photo img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-position: 0% 0%;
    box-shadow: 2px 2px 3px #bbb;
  }
  .Projects .project {
    align-items: flex-start;
  }
  .Projects .project .buttons {
    padding: 10px 0px;
  }
  .Projects .project h3 {
    padding: 0px 0px;
  }
  .Projects .project p {
    padding: 0px 0px;
  }
  .Projects .project .stacks {
    padding: 0px 0px;
  }
  .Footer {
    text-align: center;
  }

  .Contact {
    padding: 50px 10px;
    flex-direction: column;
    justify-content: center;
  }
  .Contact .links {
    flex-direction: row;
    margin: 10px 0px;
    justify-content: flex-start;
  }
  .About .last {
    flex-direction: column;
    align-items: flex-start;
  }

  .Contact .heading .icon {
    display: none;
  }
}
