* {
  font-family: "Poppins", serif;
}

body,
html {
  width: 100%;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  overflow-y: auto;
}

.header {
  padding: 0px 150px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  padding-bottom: 5px;
  font-size: 1.07em;
  font-family: "Courier New", Courier, monospace;
  background-color: #0b0a07;
  color: white;
}

.Nav h3 {
  padding: 0px 0px 0px 140px;
}

.links {
  margin-right: 100px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: white;
}
.links a:hover {
  text-decoration: none;
  color: #f0ec57;
}
.About {
  height: 500px;
  padding: 0px 150px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.About .introduction {
  flex: 1;
  font-size: 1.3rem;
}

.About .photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About .photo img {
  width: 300px;
  height: 300px;
  background-color: gray;
  border-radius: 50%;
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.About button {
  background-color: #0b0a07;
  outline: none;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 7px;
}
.About button:hover {
  background-color: #181716;
  cursor: pointer;
}
.Skills .frontend,
.backend,
.technologies {
  padding: 0px 150px;
  margin: 25px 0px;
}
.Skills .skills-div {
  display: flex;
  justify-content: space-evenly;
}

.Skills .skill {
  display: flex;
}

.skill .icon img {
  width: 30px;
  height: 30px;
}

.Skills h4 {
  font-weight: 400;
}

.Projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px 70px;
  background-color: whitesmoke;
}

.Projects .project {
  width: 350px;
  height: 500px;
  margin: 15px;
  box-shadow: 1px 1px 3px #0b0a0738;
  border-radius: 10px;
  background-color: white;
}

.Projects .project img {
  width: 100%;
  height: 250px;
}
.Projects .project h3 {
  font-weight: 500;
  padding: 0px 15px;
}
.Projects .project p {
  width: 90%;
  height: 100px;
  padding: 0px 15px;
}

.Projects .project .buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
}

.Projects .project .buttons a {
  text-decoration: none;
}

.Projects .project .buttons button {
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
}
.Projects .project .buttons button:hover {
  background-color: #bbb;
  border-radius: 7px;
}
.Footer {
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  background-color: whitesmoke;
}

.Contact {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 70px;
  width: 30%;

  max-width: 350px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;

  margin-top: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#message {
  height: 100px;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #0b0a07;
  color: white;
  padding: 12px 20px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #f0ec57;
  color: #0b0a07;
}

.GroupProjects {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 120px;
  background-color: whitesmoke;
}

.GroupProjects .project {
  width: 400px;
  height: 600px;
  margin: 15px;
  box-shadow: 1px 1px 3px #0b0a0738;
  border-radius: 10px;
  background-color: white;
}

.GroupProjects .project img {
  width: 100%;
  height: 250px;
}
.GroupProjects .project h3 {
  font-weight: 500;
  padding: 0px 15px;
  margin: 0px;
}
.GroupProjects .project p {
  width: 90%;
  padding: 0px 15px;
  margin: 2px;
}

.GroupProjects .project .buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
}

.GroupProjects .project .buttons a {
  text-decoration: none;
}

.GroupProjects .project .buttons button {
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
}
.GroupProjects .project .buttons button:hover {
  background-color: #bbb;
  border-radius: 7px;
}
.GroupProjects h4 {
  margin: 0;
  padding: 0px 15px;
}
.members {
  display: flex;
  gap: 15px;
  padding: 0px 15px;
}
.stack {
  display: flex;
  gap: 15px;

  padding: 0px 15px;
}

.key_features {
  display: flex;
  gap: 15px;

  padding: 0px 15px;
}

.Feedback {
  padding: 30px 150px;
}
.Goals {
  padding: 30px 150px;
}
.Cover {
  padding: 30px 150px;
  background-color: whitesmoke;
}
.TOC {
  padding: 30px 150px;
}

.Assessments {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 120px;
  background-color: whitesmoke;
}

.Assessments .project {
  width: 400px;
  height: 450px;
  margin: 15px;
  box-shadow: 1px 1px 3px #0b0a0738;
  border-radius: 10px;
  background-color: white;
}

.Assessments .project img {
  width: 100%;
  height: 250px;
}
.Assessments .project h3 {
  font-weight: 500;
  padding: 0px 15px;
}
.Assessments .project p {
  width: 90%;
  padding: 0px 15px;
  word-wrap: break-word;
}

.Assessments .project .buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
}

.Assessments .project .buttons a {
  text-decoration: none;
}

.Assessments .project .buttons button {
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
}
.Assessments .project .buttons button:hover {
  background-color: #bbb;
  border-radius: 7px;
}
.Assessments h4 {
  margin: 0;
  padding: 0px 15px;
}
